<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSFaceIDUsageDescription</key>
    <string>We use Face ID to secure your account and provide quick access</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show nearby venues and events</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We use your location to provide real-time updates about venues near you</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We use your location to provide real-time updates about venues near you</string>
</dict>
</plist>
